version: '3.8'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spire_mgmt
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./deploy/kubernetes/schema.sql:/docker-entrypoint-initdb.d/schema.sql

volumes:
  mysql_data:
